* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;
    src: local('StratosSkyeng'),
        url('/fonts/Webfonts/stratosskyengweb-regular.woff2') format('woff2'),
        url('./fonts/Webfonts/stratosskyengweb-regular.woff') format('woff');
}

body {
    font-family: StratosSkyeng, sans-serif;
}

.top {
    background-color: #004980;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 22px;
    margin-right: 23px;
}

.timetable {
    display: flex;
    flex-direction: column;
}

.minutes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 57px;
}

.min {
    font-family: StratosSkyeng, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #fff;
}

.time {
    font-family: StratosSkyeng, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #fff;
}

.buttonstart {
    background: #7ac100;
    border-radius: 12px;
    box-sizing: border-box;
    border: 1px solid transparent;
    width: 246px;
    height: 48px;
    font-family: StratosSkyeng, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #fff;
}

.cards {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 15px;
    margin: 35px;
}
