* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;
    src: local('StratosSkyeng'),
        url('/fonts/Webfonts/stratosskyengweb-regular.woff2') format('woff2'),
        url('./fonts/Webfonts/stratosskyengweb-regular.woff') format('woff');
}

body {
    font-family: StratosSkyeng, sans-serif;
}

.top {
    background-color: #004980;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 157px;
    width: 480px;
    height: 459px;
    left: 272px;
    top: 158px;
    background: #c2f5ff;
    border-radius: 12px;
}

.title {
    font-family: StratosSkyeng, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #004980;
    padding-top: 52px;
    padding-left: 136px;
    padding-right: 136px;
}

.levels {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.level {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #0080c1;
}

.level input[type='radio'] {
    display: none;
}

.level label {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    width: 98px;
    height: 98px;
    left: 341px;
    top: 354px;
    background: #fff;
    border-radius: 12px;
}

.start {
    background: #7ac100;
    border-radius: 12px;
    margin-top: 67px;
    margin-left: 117px;
    width: 246px;
    height: 48px;
    left: 389px;
    top: 519px;
    font-family: StratosSkyeng, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #fff;
    border-color: transparent;
}
